:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgb(241, 221, 239);
	padding: 16px;

	&__title-box {
		display: flex; 
		align-items: center;
		gap: 8px;
	}

	&__title {
        font-weight: 500;
        font-size: 24px;
	}

	&__img {
        width: 48px;
		height: 48px;
	}
}

.counter {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	color: rgba(255, 255, 255, 0.87);
	cursor: pointer;
	transition: border-color 0.25s;

	&:hover {
		border-color: #646cff;
	}
	&:focus,
	&:focus-visible {
		outline: 4px auto -webkit-focus-ring-color;
	}
		
}